body{
padding-left: 15%;
padding-right: 15%;
background-color: rgb(114, 167, 129);
}
h1,h2,h3{
text-align: center;
color: #1e3a20;
}
.centered{
text-align: center;
}
.image-right{
width: 175px;
length: 205px;
float: right;
}
.image-left{
width: 175px;
  length: 205px;
  float: left;
}
.border{
  border-bottom: 3px solid black;
  border-top: 4px double black;
}
.mid-borders{
border-top: 4px double black;
}
.top-border{
border-bottom: 4px double black;
  border-top: 3px solid black;
}
