body{
  padding-left: 15%;
  padding-right: 15%;
  background: url("backgroundII.jpg") no-repeat;
  background-size: 100%;
  }
  h1,h2,h3{
  text-align: center;
  color: #1e3a20;
  }
  .centered{
  text-align: center;
  }
  .image-right{
  width: 175px;
  height: 205px;
  float: right
  }
  .image-left{
  width: 175px;
  height:  205px;
  float: left;
  }
  .border{
    border-bottom: 3px solid black;
    border-top: 4px double black;
  }
  .mid-borders{
  border-top: 4px double black;
  }
  .top-border{
  border-bottom: 4px double black;
    border-top: 3px solid black;
  }
  .column{
  column-count: 4;
    column-gap: 40px;
  }
  .inner-background{
    background: url("backround.jpg") no-repeat;
    background-size: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  